- name: This playbook will install, configure and deploy web page in nginx web server
  hosts: all
  vars:
     - proxy_configuration:
             http_proxy: http://10.19.16.165:8080
             https_proxy: http://10.19.16.165:8080

  tasks:
    - name: Install nginx web server
      apt: name=nginx state=latest update_cache=yes
#     environment: "{{proxy_configuration}}"

    - name: Configure nginx web root folder 
      copy: src=default dest=/etc/nginx/sites-available/default

    - name: Create nginx web root folder 
      file: path=/var/html state=directory mode=0777


